<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>免费ShadowSocks帐号分享</title>
    <link rel="stylesheet" href="">
</head>
<body>

<ul>

<h1>免费ShadowSocks服务器分享</h1>

<h2>服务器名称：{{name}}</h2>

<a href='/'>返回主页</a><br>

配置URI：<a href="{{uri}}"> {{uri}} </a>

<code>
<p style="font-size: 40%">
{% for line in qrcode %} {{line}}<br>
{% endfor %}
</p>
</code>

    <li>服务器：{{server}}<br></li>
    <li>端口：{{server_port}}<br></li>
    <li>密码：{{password}}<br></li>
    <li>加密方法：{{method}}<br></li>
    <li>SSR协议：{{ssr_portal}}<br></li>
    <li>混淆方式：{{confuse}}<br></li>
    <li>详细信息：<a href={{href}}>{{href}}</a><br></li>
</ul>

</body>
</html>
