<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
    <style type="text/css">
        table{
            border-collapse: collapse;
            margin:0px auto;
        }
        table, td{
            border:1px solid black;
        }
    </style>

    <title>免费ShadowSocks帐号分享</title>
</head>



<body>
<div style="text-align: center;">


<h1>{{name}}</h1>


<a href='/'>返回主页</a><br>


{%- if href != 'None' -%}
    <p>
        请点击这个链接查看详细信息：<br>
        <a href={{href}}>{{href}}</a>
    </p>
{% else %}
    <p>
        配置URI：<a href="{{uri}}"> {{uri}} </a><br>
        <button id="btn" class="js-copy" data-clipboard-text="{{uri}}"><span>一键复制SS配置</span></button><br />
    </p>


    <div id="qrcode"></div>

    <table style="text-align: center;">
        <caption>服务器详细配置信息</caption>
        <tr><td>服务器</td><td>{{server}}</td></tr>
        <tr><td>端口</td><td>{{server_port}}</td></tr>
        <tr><td>密码</td><td>{{password}}</td></tr>
        <tr><td>加密方法</td><td>{{method}}</td></tr>
        <tr><td>SSR协议</td><td>{{ssr_portal}}</td></tr>
        <tr><td>混淆方式</td><td>{{confuse}}</td></tr>
    </table>


    <h4>
    ASCII格式的二维码（适合终端浏览器）：
    </h4>

    <samp>
        <p style="font-size: 40%">
            {% for line in qrcode %} {{line}}<br>
            {% endfor %}
        </p>
    </samp>
{% endif %}
</div>

<!-- clipboard -->
<script type="text/javascript" src="js/clipboard.min.js"></script>

<script>
var btn = document.getElementById('btn');
var clipboard = new Clipboard(btn);//实例化

//复制成功执行的回调，可选
clipboard.on('success', function(e) {
    console.log(e);
    alert("复制成功")
});

//复制失败执行的回调，可选
clipboard.on('error', function(e) {
    console.log(e);
    alert("复制失败，请手动复制")
});
</script>

<!-- qrcode -->
<script src="js/jquery.min.js""></script>
<script type="text/javascript" src="js/jquery.qrcode.js"></script>
<script type="text/javascript" src="js/qrcode.js"></script>
<script>jQuery('#qrcode').qrcode("{{server_data['uri']}}")</script>

<!-- beautiful background -->
<script type="text/javascript" color="{{color}}" opacity="{{opacity}}" count="{{count}}" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

<!-- github ribbon -->
<a href="https://github.com/the0demiurge/Python-Scripts/tree/master/src/Web/Flask/ShadowSocksShare"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>
