@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

h1 {
	font-size: 150%;
	display: inline;
}

span.phonetic,
span.trans_name {
	color: gray;
}

div.definition {
	color: cadetblue;
	display: block;
	margin: 1em;

}

div.translation {
	display: block;
	margin: 1em;
}

div.tags {
	font-size: 80%;
	color: gray;
}
